/* -----------------------------------------------------------FONTS------------------------------------------------------------------*/
@font-face 
{
    font-family: Montserrat-bold;
    src: url(./fonts/Montserrat-Black.otf);
}
@font-face 
{
    font-family: Montserrat-medium;
    src: url(./fonts/Montserrat-Medium.otf);
}
@font-face 
{
    font-family: SofiaPro-regular;
    src: url(./fonts/SofiaProRegular.ttf);
}
@font-face 
{
    font-family: SofiaPro-bold;
    src: url(./fonts/SofiaProBold.ttf);
}
@font-face 
{
    font-family: SofiaPro-medium;
    src: url(./fonts/SofiaProMedium.ttf);
}
@font-face 
{
    font-family: SofiaPro-Extralight;
    src: url(./fonts/SofiaProExtraLight.ttf);
}


/*--------------------------------------------------------ANIMATIONS------------------------------------------------------------------*/

.animation-1
{
    animation: 2s anim-lineup ease-in-out
    none;
}
@keyframes anim-lineup 
{
    0%
    {
        opacity: 0;
        transform: translateY(50%);
    }
    20%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
        transform: translateY(0%);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0%);
    }
}

.animation-2
{
    animation: 2s anim-rightside ease-in-out
    none;
}
@keyframes anim-rightside 
{
    0%
    {
        opacity: 0;
        transform: translateX(50%);
    }
    20%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
        transform: translateX(0%);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fromtop 
{
    animation: 2s anim-fromtop ease-in 
    none;
}
@keyframes anim-fromtop 
{
    0% 
    { 
        opacity: 0; 
        transform: translateY(-10%);
    }
    25% 
    { 
        opacity: 1; 
        transform: translateY(0%);
    }
    50% 
    {

    }
    100% 
    {

    }
  }
  .fade-in
  {
    animation: fadein 2s ease-in-out none;
  }
  @keyframes fadein 
  {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
  }

/* --------------------------------------------------------MAIN------------------------------------------------------------------*/

html
{
    scroll-behavior: smooth;
}
*
{
    cursor: url(./images/green-black.png), auto;
}

body
{
    margin: 0;
    background: #e7e7e7;
    height: 100vh;
    scroll-behavior: smooth;
}
ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}   
h2,
h3,
a 
{
      color: #34495e;
}  
a 
{
      text-decoration: none;
}    

.logo 
{
      margin: 0;
      font-size: 1.45em;
}  
.main-nav 
{
      margin-top: 5px;
  
}
.logo a,
.main-nav a 
{
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
}  
.main-nav a 
{
      color: #34495e;
      font-size: .99em;
}
  
.main-nav a:hover 
{
      color: #5AFE73;
}
.header 
{
      padding-top: .5em;
      padding-bottom: .5em;
      border: 1px solid #a2a2a2;
      font-family: SofiaPro-bold;
      background-color: #f4f4f4;
      -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}
  
@media (min-width: 769px) 
{
      .header,
      .main-nav {
          display: flex;
      }
      .header {
          flex-direction: column;
          align-items: center;
          .header{
          width: 80%;
          margin: 0 auto;
          max-width: 1150px;
      }
      }
  
}
@media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
}  
/*--------------------------------------------------------------------ABOUT----------------------------------------------------------------------------*/


/*---------------------------------------------------------------------QR------------------------------------------------------------------------------------*/

.container-1
{
    width: 450px;
    font-family: SofiaPro-bold;
    padding: 25px 35px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #25252525;
    border-radius: 10px;
}

.container-1 p 
{
    font-weight: 600px;
    font-size: 15px;
    margin-bottom: 10px;
}
.container-1 input
{
    width: 100%;
    height: 50px;
    border: 1px solid #5AFE73;
    outline: 0;
    padding: 10px 3px;
    margin: 10px 0px 0px;
    border-radius: 10px;
}

.container-1 button
{
    width: 100%;
    height: 50px;
    top: 50px;
    background: #5AFE73;
    color: #ffffff;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 400;
    font-family: SofiaPro-medium; 
    transition: 0.2s ease-in-out;
}

#imgbox
{
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 1s ease;
}
#imgbox img
{
    width: 100%;
    padding: 0px
}
#imgbox.show-img
{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

button:hover
{
    color: #080808;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.2s ease-in-out;
}

.container-1 .button-2
{
    width: 100%;
    height: 50px;
    top: 50px;
    background: none;
    color: #5AFE73;
    border: 1px solid #5AFE73;
    box-sizing: border-box;
    border-radius: 10px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    margin: 20px 0;
    font-weight: 400;
    font-family: SofiaPro-medium; 
}
.button-2:hover
{
    color: #080808;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.2s ease-in-out;
}
input
{
    background-color: #25252525;
    color: black;
}
input::placeholder
{
    color: #080808;
}
.welcome
{
    color: #080808;
    font-family: SofiaPro-regular;
    text-align: center;
    top: 2rem;
    position: relative;
}
@media (min-width: 769px) 
{

      .container-1 {
          flex-direction: column;
          align-items: center;
          .header{
          width: 80%;
          margin: 0 auto;
          max-width: 1150px;
      }
      }
  
}
@media (min-width: 1025px) {
      .container-1 {
          flex-direction: row;
          justify-content: space-between;
      }
  
}  
/*--------------------------------------------------------------UNDER CONSTRUCTION---------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------CONTACT US----------------------------------------------------------------------------*/
